:root {
  --baseblue: #4682a9;
  --lightblue: #91c8e4;
  --lightyellow: #eeeeee;
  --lightred: #eeeeee;
  --lightpink: #393e46;
  --lightgreen: #eeeeee;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(137deg, var(--lightyellow), var(--lightblue));
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 48px;
  color: #fff;
  margin-right: 20px;
}

.logo {
  width: 80px;
}

.video-input-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  text-align: center;
}

#video-input {
  text-align: center;
  margin-top: 7px;
}

.player {
  position: relative;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* hide control panel */
  border: 2px solid white;
  border-radius: 3px;
  margin: 40px;
}

.player-video-viewer {
  width: 100%;
}

.player-controls {
  transition: bottom 0.6s;
  width: 100%;
  position: absolute;
  bottom: 0;
  /* transform: translateY(100%) translateY(-5px); */ /* show progress */
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 5% 5% 1fr 1fr 8% 8% 5%;
  padding-bottom: 0.5rem;
}

.player:hover .player-controls {
  /*  transform: translateY(0); */
}

.player-controls > * {
  cursor: pointer;
}

#progress-bar {
  grid-column: span 7;
  width: 100%;
  height: 2rem;
  background-color: transparent;
  margin-top: 0;
}

#progress-bar::-moz-range-thumb {
  background-color: var(--lightred);
  border: none;
  border-radius: 0;
  height: 2.2rem;
  width: 0.5rem;
}

#progress-bar::-moz-range-progress {
  background-color: var(--lightgreen);
  height: 2rem;
}

.player-slider {
  height: 0.3rem;
  background-color: var(--lightpink);
  margin-top: 1.5rem;
}

.player-slider::-moz-range-progress {
  background-color: var(--lightgreen);
  width: 0.5rem;
}

.player-slider::-moz-range-thumb {
  background-color: var(--lightred);
  border: none;
}

.player-slider::-moz-focus-outer {
  border: 0;
}

input[name="volume"] {
  margin-right: 1rem;
}

button::-moz-focus-inner {
  border: 0;
}

button {
  border: none;
  background-color: transparent;
  height: 3rem;
  color: white;
}
