:root {
  --baseblue: #4682a9;
  --lightblue: #91c8e4;
  --lightyellow: #eeeeee;
  --lightred: #eeeeee;
  --lightpink: #393e46;
  --lightgreen: #eeeeee;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(137deg, var(--lightyellow), var(--lightblue));
  overflow: hidden;
}

.side-wrap {
  max-width: 960px;
  margin: 100px auto;
  background-color: #393e46;
  padding: 40px;
  text-align: justify;
}

img {
  width: 200px;
  height: 200px;
}

.align-right {
  float: right;
  margin-left: 20px;
}

.align-left {
  float: left;
  margin-left: 20px;
}

.slide-in {
  opacity: 0;
  transition: all .5s;
}

.align-left.slide-in {
  transform: translate(-30%) scale(0.95);
}

.align-right.slide-in {
  transform: translate(30%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  transform: translate(0%) scale(1);

}