:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Fira Mono", monospace;
  text-align: center;
  font-size: 40px;
}

.h1 {
  color: var(--base);
}

img {
  margin: 50px;
  object-fit: contain;
  height: 500px;
  width: 800px;
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}
